{
    "openapi": "3.0.0",
    "info": {
        "title": "Koupii LMS API",
        "description": "API documentation for English course LMS",
        "contact": {
            "email": "support@koupii.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api-koupii.magercoding.com",
            "description": "Production server"
        }
    ],
    "paths": {
        "/api/vocab/categories": {
            "get": {
                "tags": [
                    "Vocabulary Categories"
                ],
                "summary": "Get all vocabulary categories",
                "description": "Returns a list of all vocabulary categories.",
                "operationId": "aa81c1060a88e116e57bc39836e1455e",
                "parameters": [
                    {
                        "name": "X-XSRF-TOKEN",
                        "in": "header",
                        "description": "CSRF token for session-based auth (Sanctum)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Referer",
                        "in": "header",
                        "description": "Referring URL Frontend for CSRF protection",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "http://localhost:3000"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of vocabulary categories",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "example": "uuid-string"
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "nouns"
                                            },
                                            "color_code": {
                                                "type": "string",
                                                "example": "#FF0000"
                                            },
                                            "created_at": {
                                                "type": "string",
                                                "example": "2025-07-15T07:19:54.000000Z"
                                            },
                                            "updated_at": {
                                                "type": "string",
                                                "example": "2025-07-15T07:19:54.000000Z"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/vocab/categories/create": {
            "post": {
                "tags": [
                    "Vocabulary Categories"
                ],
                "summary": "Create a new vocabulary category",
                "description": "Adds a new vocabulary category. Requires authentication.",
                "operationId": "7b4a1e4b73dd2bbff472bd310da04905",
                "parameters": [
                    {
                        "name": "X-XSRF-TOKEN",
                        "in": "header",
                        "description": "CSRF token for session-based auth (Sanctum)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Referer",
                        "in": "header",
                        "description": "Referring URL Frontend for CSRF protection",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "http://localhost:3000"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "nouns"
                                    },
                                    "color_code": {
                                        "type": "string",
                                        "example": "#FF0000"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Category created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Category created successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "uuid-string"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "nouns"
                                                },
                                                "color_code": {
                                                    "type": "string",
                                                    "example": "#FF0000"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2025-07-15T07:19:54.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2025-07-15T07:19:54.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/vocab/categories/{id}": {
            "get": {
                "tags": [
                    "Vocabulary Categories"
                ],
                "summary": "Get a specific vocabulary category",
                "description": "Retrieve details of a specific category by its ID.",
                "operationId": "3aa412353611facc4650612c497e7276",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID of the category",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "uuid-string"
                        }
                    },
                    {
                        "name": "X-XSRF-TOKEN",
                        "in": "header",
                        "description": "CSRF token for session-based auth (Sanctum)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Referer",
                        "in": "header",
                        "description": "Referring URL Frontend for CSRF protection",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "http://localhost:3000"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "uuid-string"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "nouns"
                                        },
                                        "color_code": {
                                            "type": "string",
                                            "example": "#FF0000"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2025-07-15T07:19:54.000000Z"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2025-07-15T07:19:54.000000Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Category not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Vocabulary Categories"
                ],
                "summary": "Delete a vocabulary category",
                "description": "Delete a category by its UUID.",
                "operationId": "d12f541c21b8d5a2c51c233602e9b9d4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID of the category",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "uuid-string"
                        }
                    },
                    {
                        "name": "X-XSRF-TOKEN",
                        "in": "header",
                        "description": "CSRF token for session-based auth (Sanctum)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Referer",
                        "in": "header",
                        "description": "Referring URL Frontend for CSRF protection",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "http://localhost:3000"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Category deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Category not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/vocab/categories/update/{id}": {
            "patch": {
                "tags": [
                    "Vocabulary Categories"
                ],
                "summary": "Update an existing vocabulary category",
                "description": "Update a vocabulary category's name or description.",
                "operationId": "12c346f2bea07ebffb85618db290036d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID of the category",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "uuid-string"
                        }
                    },
                    {
                        "name": "X-XSRF-TOKEN",
                        "in": "header",
                        "description": "CSRF token for session-based auth (Sanctum)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Referer",
                        "in": "header",
                        "description": "Referring URL Frontend for CSRF protection",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "http://localhost:3000"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "verb"
                                    },
                                    "color_code": {
                                        "type": "string",
                                        "example": "#FFA000"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Category created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Category created successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "uuid-string"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "verb"
                                                },
                                                "color_code": {
                                                    "type": "string",
                                                    "example": "#FFA000"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2025-07-15T07:19:54.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2025-07-15T07:19:54.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Category not found"
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/vocab/vocabularies": {
            "get": {
                "tags": [
                    "Vocabulary"
                ],
                "summary": "Get all vocabularies",
                "description": "Returns a list of all vocabulary entries.",
                "operationId": "8deda9b34a4e017b542cd087eadd78c1",
                "parameters": [
                    {
                        "name": "X-XSRF-TOKEN",
                        "in": "header",
                        "description": "CSRF token for session-based auth (Sanctum)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Referer",
                        "in": "header",
                        "description": "Referring URL Frontend for CSRF protection",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "http://localhost:3000"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of vocabulary entries",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "example": "uuid-string"
                                            },
                                            "teacher_id": {
                                                "type": "string",
                                                "example": "uuid-teacher"
                                            },
                                            "category_id": {
                                                "type": "string",
                                                "example": "uuid-category"
                                            },
                                            "word": {
                                                "type": "string",
                                                "example": "Elephant"
                                            },
                                            "translation": {
                                                "type": "string",
                                                "example": "Gajah"
                                            },
                                            "spelling": {
                                                "type": "string",
                                                "example": "ˈeləfənt"
                                            },
                                            "explanation": {
                                                "type": "string",
                                                "example": "A large mammal with trunk."
                                            },
                                            "audio_file_path": {
                                                "type": "string",
                                                "example": "/storage/audio/688cb485b0b72.mp3"
                                            },
                                            "is_public": {
                                                "type": "boolean",
                                                "example": true
                                            },
                                            "created_at": {
                                                "type": "string",
                                                "example": "2025-08-01T10:00:00Z"
                                            },
                                            "updated_at": {
                                                "type": "string",
                                                "example": "2025-08-01T10:00:00Z"
                                            },
                                            "is_bookmarked": {
                                                "type": "boolean",
                                                "example": false
                                            },
                                            "teacher": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid",
                                                        "example": "571bd78d-4879-44e0-9697-05b6e8bebc5d"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Teacher User 1"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "category": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid",
                                                        "example": "01985aba-6229-7398-8eb3-aec300a712a0"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Noun"
                                                    },
                                                    "color_code": {
                                                        "type": "string",
                                                        "example": "#FFC107"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/vocab/create": {
            "post": {
                "tags": [
                    "Vocabulary"
                ],
                "summary": "Create a new vocabulary entry",
                "description": "Adds a new vocabulary entry to the system.",
                "operationId": "2f4905fe290f9629fe6d93ae00a0addd",
                "parameters": [
                    {
                        "name": "X-XSRF-TOKEN",
                        "in": "header",
                        "description": "CSRF token for session-based auth (Sanctum)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Referer",
                        "in": "header",
                        "description": "Referring URL Frontend for CSRF protection",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "http://localhost:3000"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "category_id",
                                    "word",
                                    "translation",
                                    "is_public"
                                ],
                                "properties": {
                                    "category_id": {
                                        "type": "string",
                                        "example": "uuid-category"
                                    },
                                    "word": {
                                        "type": "string",
                                        "example": "Elephant"
                                    },
                                    "translation": {
                                        "type": "string",
                                        "example": "Gajah"
                                    },
                                    "spelling": {
                                        "type": "string",
                                        "example": "ˈeləfənt"
                                    },
                                    "explanation": {
                                        "type": "string",
                                        "example": "A large mammal with trunk."
                                    },
                                    "audio_file_path": {
                                        "type": "file",
                                        "example": "elephant.mp3"
                                    },
                                    "is_public": {
                                        "type": "boolean",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Vocabulary created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Vocabulary created successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "uuid-string"
                                                },
                                                "teacher_id": {
                                                    "type": "string",
                                                    "example": "uuid-teacher"
                                                },
                                                "category_id": {
                                                    "type": "string",
                                                    "example": "uuid-category"
                                                },
                                                "word": {
                                                    "type": "string",
                                                    "example": "Elephant"
                                                },
                                                "translation": {
                                                    "type": "string",
                                                    "example": "Gajah"
                                                },
                                                "spelling": {
                                                    "type": "string",
                                                    "example": "ˈeləfənt"
                                                },
                                                "explanation": {
                                                    "type": "string",
                                                    "example": "A large mammal with trunk."
                                                },
                                                "audio_file_path": {
                                                    "type": "string",
                                                    "example": "/storage/audio/688cb485b0b72.mp3"
                                                },
                                                "is_public": {
                                                    "type": "boolean",
                                                    "example": 1
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2025-08-01T10:00:00Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2025-08-01T10:00:00Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/vocab/{id}": {
            "get": {
                "tags": [
                    "Vocabulary"
                ],
                "summary": "Get a specific vocabulary entry",
                "description": "Retrieve details of a vocabulary entry by its ID.",
                "operationId": "6d139319c3bfab78f8915a27fb55eba4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID of the vocabulary",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "uuid-string"
                        }
                    },
                    {
                        "name": "X-XSRF-TOKEN",
                        "in": "header",
                        "description": "CSRF token for session-based auth (Sanctum)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Referer",
                        "in": "header",
                        "description": "Referring URL Frontend for CSRF protection",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "http://localhost:3000"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vocabulary retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "uuid-string"
                                        },
                                        "teacher_id": {
                                            "type": "string",
                                            "example": "uuid-teacher"
                                        },
                                        "category_id": {
                                            "type": "string",
                                            "example": "uuid-category"
                                        },
                                        "word": {
                                            "type": "string",
                                            "example": "Elephant"
                                        },
                                        "translation": {
                                            "type": "string",
                                            "example": "Gajah"
                                        },
                                        "spelling": {
                                            "type": "string",
                                            "example": "ˈeləfənt"
                                        },
                                        "explanation": {
                                            "type": "string",
                                            "example": "A large mammal with trunk."
                                        },
                                        "audio_file_path": {
                                            "type": "string",
                                            "example": "/storage/audio/688cb485b0b72.mp3"
                                        },
                                        "is_public": {
                                            "type": "boolean",
                                            "example": 1
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2025-08-01T10:00:00Z"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2025-08-01T10:00:00Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Vocabulary not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/vocab/update/{id}": {
            "patch": {
                "tags": [
                    "Vocabulary"
                ],
                "summary": "Update a vocabulary entry",
                "description": "Updates an existing vocabulary entry.",
                "operationId": "8f39630d626e23bdb7b32f625e478c92",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID of the vocabulary",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "uuid-string"
                        }
                    },
                    {
                        "name": "X-XSRF-TOKEN",
                        "in": "header",
                        "description": "CSRF token for session-based auth (Sanctum)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Referer",
                        "in": "header",
                        "description": "Referring URL Frontend for CSRF protection",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "http://localhost:3000"
                        }
                    },
                    {
                        "name": "_method",
                        "in": "query",
                        "description": "Override HTTP method for PATCH requests",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "PATCH"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "category_id": {
                                        "type": "string",
                                        "example": "uuid-category"
                                    },
                                    "word": {
                                        "type": "string",
                                        "example": "Elephant Updated"
                                    },
                                    "translation": {
                                        "type": "string",
                                        "example": "Gajah Besar"
                                    },
                                    "spelling": {
                                        "type": "string",
                                        "example": "ˈeləfənt"
                                    },
                                    "explanation": {
                                        "type": "string",
                                        "example": "Updated explanation"
                                    },
                                    "audio_file_path": {
                                        "type": "file",
                                        "example": "elephant-new.mp3"
                                    },
                                    "is_public": {
                                        "type": "boolean",
                                        "example": 0
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Vocabulary updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Vocabulary updated successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "uuid-string"
                                                },
                                                "teacher_id": {
                                                    "type": "string",
                                                    "example": "uuid-teacher"
                                                },
                                                "category_id": {
                                                    "type": "string",
                                                    "example": "uuid-category"
                                                },
                                                "word": {
                                                    "type": "string",
                                                    "example": "Elephant Updated"
                                                },
                                                "translation": {
                                                    "type": "string",
                                                    "example": "Gajah Besar"
                                                },
                                                "spelling": {
                                                    "type": "string",
                                                    "example": "ˈeləfənt"
                                                },
                                                "explanation": {
                                                    "type": "string",
                                                    "example": "Updated explanation"
                                                },
                                                "audio_file_path": {
                                                    "type": "string",
                                                    "example": "/storage/audio/688cb485b0b72.mp3"
                                                },
                                                "is_public": {
                                                    "type": "boolean",
                                                    "example": 0
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2025-08-01T10:00:00Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2025-08-01T10:00:00Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Vocabulary not found"
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/vocab/delete/{id}": {
            "delete": {
                "tags": [
                    "Vocabulary"
                ],
                "summary": "Delete a vocabulary entry",
                "description": "Deletes a vocabulary entry by its UUID.",
                "operationId": "8e62d2bc3c170c1d880b56cd72a31ca8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID of the vocabulary",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "uuid-string"
                        }
                    },
                    {
                        "name": "X-XSRF-TOKEN",
                        "in": "header",
                        "description": "CSRF token for session-based auth (Sanctum)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Referer",
                        "in": "header",
                        "description": "Referring URL Frontend for CSRF protection",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "http://localhost:3000"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vocabulary deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Vocabulary deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Vocabulary not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/vocab/{id}/bookmark": {
            "post": {
                "tags": [
                    "Vocabulary"
                ],
                "summary": "Toggle vocabulary bookmark",
                "description": "Toggle the bookmark status of a vocabulary entry for the authenticated user.",
                "operationId": "f41bc45a1c299103022122574706401f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the vocabulary",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "123"
                        }
                    },
                    {
                        "name": "X-XSRF-TOKEN",
                        "in": "header",
                        "description": "CSRF token for session-based auth (Sanctum)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Referer",
                        "in": "header",
                        "description": "Referring URL Frontend for CSRF protection",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "http://localhost:3000"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bookmark toggled successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Vocabulary bookmarked."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Vocabulary not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Vocabulary not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/auth/v1/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Login user",
                "description": "Authenticates a user and returns an access token",
                "operationId": "31f5c0d6fdb774bdbbe13782efbabb10",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "fika@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "secret123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Logged in successfully"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|abcdef1234567890"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials"
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/v1/auth/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Logout the current user",
                "description": "Revokes the user's current access token",
                "operationId": "6e4e9d734ad85af44a1491066058371c",
                "responses": {
                    "200": {
                        "description": "Logout successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Logged out successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Logout failed"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/auth/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Register a new user",
                "description": "Registers a user and returns an access token",
                "operationId": "5ae0f447c4401150c74567b59feb0cff",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "role"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Fika Riyadi"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "fika@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "secret123"
                                    },
                                    "role": {
                                        "type": "string",
                                        "example": "user"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User registered successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Registered successfully"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|abcdef1234567890"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/v1/class": {
            "get": {
                "tags": [
                    "Classes"
                ],
                "summary": "Get all classes",
                "description": "Admin & Student can see all classes, Teacher can only see their own classes.",
                "operationId": "01a73cf5a810b4ab4581274f48a949af",
                "responses": {
                    "200": {
                        "description": "List of classes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "format": "uuid",
                                                "example": "0199800b-be72-71ed-91bc-118cbfdadc22"
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "Biology Class"
                                            },
                                            "description": {
                                                "type": "string",
                                                "example": "This is class biology"
                                            },
                                            "cover_image": {
                                                "type": "string",
                                                "example": null,
                                                "nullable": true
                                            },
                                            "is_active": {
                                                "type": "boolean",
                                                "example": true
                                            },
                                            "created_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2025-09-25T08:44:37.000000Z"
                                            },
                                            "updated_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2025-09-29T07:35:08.000000Z"
                                            },
                                            "teacher": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid",
                                                        "example": "240726c6-64b3-4cbb-ae47-923dc2b46d37"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Fika Teacher"
                                                    },
                                                    "email": {
                                                        "type": "string",
                                                        "example": "teacher1@example.com"
                                                    },
                                                    "bio": {
                                                        "type": "string",
                                                        "example": "Lorem ipsum dolor sit amet"
                                                    },
                                                    "avatar": {
                                                        "type": "string",
                                                        "example": "http://localhost:8000/storage/avatar/68d3bb777d57b.png",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "students": {
                                                "type": "array",
                                                "items": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid",
                                                            "example": "e76ed3e1-f9ea-45b4-84a3-275fa0c24715"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Fita"
                                                        },
                                                        "avatar": {
                                                            "type": "string",
                                                            "example": "http://localhost:8000/storage/avatar/68d50da003002.png",
                                                            "nullable": true
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "class_code": {
                                                "type": "string",
                                                "example": "1234567"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/class/create": {
            "post": {
                "tags": [
                    "Classes"
                ],
                "summary": "Create a new class",
                "description": "Only admin and teacher can create a new class.",
                "operationId": "5fc2078ac127a3eae4c8185310292c73",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Theory Class"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "This is theory class"
                                    },
                                    "class_code": {
                                        "type": "string",
                                        "example": "ABC12345"
                                    },
                                    "cover_image": {
                                        "description": "Upload class cover image (jpg, png)",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Class created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Class created successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Class name or code already exists"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/class/{id}": {
            "get": {
                "tags": [
                    "Classes"
                ],
                "summary": "Get class details",
                "description": "Get class detail including teacher info.",
                "operationId": "01b4c6cbcd909e42eca0bc43de90b800",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Class ID (UUID)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Class details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "format": "uuid",
                                            "example": "0199800b-be72-71ed-91bc-118cbfdadc22"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "Biology Class"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "This is class biology"
                                        },
                                        "cover_image": {
                                            "type": "string",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "is_active": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2025-09-25T08:44:37.000000Z"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2025-09-29T07:35:08.000000Z"
                                        },
                                        "teacher": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "example": "240726c6-64b3-4cbb-ae47-923dc2b46d37"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Fika Teacher"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "teacher1@example.com"
                                                },
                                                "bio": {
                                                    "type": "string",
                                                    "example": "Lorem ipsum dolor sit amet"
                                                },
                                                "avatar": {
                                                    "type": "string",
                                                    "example": "http://localhost:8000/storage/avatar/68d3bb777d57b.png",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "students": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid",
                                                        "example": "e76ed3e1-f9ea-45b4-84a3-275fa0c24715"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Fita"
                                                    },
                                                    "avatar": {
                                                        "type": "string",
                                                        "example": "http://localhost:8000/storage/avatar/68d50da003002.png",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "class_code": {
                                            "type": "string",
                                            "example": "1234567"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Class not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/class/update/{id}": {
            "post": {
                "tags": [
                    "Classes"
                ],
                "summary": "Update class",
                "description": "Only admin and teacher (class owner) can update class data.",
                "operationId": "057899c06b2def28339cd775d8da347e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Class ID (UUID)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "_method",
                        "in": "query",
                        "description": "Override HTTP method for PATCH requests",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "PATCH"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Biology Class"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "This is biology class"
                                    },
                                    "class_code": {
                                        "type": "string",
                                        "example": "qwertyui"
                                    },
                                    "cover_image": {
                                        "description": "Upload class cover image (jpg, png)",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Class updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Class updated successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Class not found"
                    },
                    "409": {
                        "description": "Class name or code already exists"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/class/delete/{id}": {
            "delete": {
                "tags": [
                    "Classes"
                ],
                "summary": "Delete a class",
                "description": "Only admin and teacher (class owner) can delete a class.",
                "operationId": "573b0861bd6e05f50c1ef6dde62d3e32",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Class ID (UUID)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Class deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Class deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Class not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/class/enrollments": {
            "get": {
                "tags": [
                    "Enrollments"
                ],
                "summary": "Get all enrollments based on user role",
                "description": "Admin sees all enrollments, teacher sees only enrollments in their classes, student sees only their enrolled classes.",
                "operationId": "f9821f2994e99363c420c23a79b5a6e9",
                "parameters": [
                    {
                        "name": "X-XSRF-TOKEN",
                        "in": "header",
                        "description": "CSRF token for session-based auth",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Referer",
                        "in": "header",
                        "description": "Frontend URL for CSRF protection",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "http://localhost:3000"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of enrollments",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "example": "d40a0147-493f-4d70-bb4a-d7052e89e921"
                                            },
                                            "class_id": {
                                                "type": "string",
                                                "example": "20d7c432-467b-433a-b035-b43481b5ee85"
                                            },
                                            "student_id": {
                                                "type": "string",
                                                "example": "d2fb93ec-6043-4384-814d-0e48f36aed50"
                                            },
                                            "status": {
                                                "type": "string",
                                                "example": "active"
                                            },
                                            "enrolled_at": {
                                                "type": "string",
                                                "example": "2025-07-17 08:55:35"
                                            },
                                            "created_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2025-07-17T08:55:35.000000Z"
                                            },
                                            "updated_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2025-07-17T08:55:35.000000Z"
                                            },
                                            "class": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "20d7c432-467b-433a-b035-b43481b5ee85"
                                                    },
                                                    "teacher_id": {
                                                        "type": "string",
                                                        "example": "598d528e-c734-456e-b77c-7abee4cf92fa"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Theorytical Class"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "This is theory class"
                                                    },
                                                    "class_code": {
                                                        "type": "string",
                                                        "example": "lkoiun"
                                                    },
                                                    "cover_image": {
                                                        "type": "string",
                                                        "example": "cover.jpg"
                                                    },
                                                    "is_active": {
                                                        "type": "boolean",
                                                        "example": false
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "student": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "d2fb93ec-6043-4384-814d-0e48f36aed50"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Student User 2"
                                                    },
                                                    "email": {
                                                        "type": "string",
                                                        "example": "student2@example.com"
                                                    },
                                                    "role": {
                                                        "type": "string",
                                                        "example": "student"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/class/enrollments/create": {
            "post": {
                "tags": [
                    "Enrollments"
                ],
                "summary": "Enroll student to class",
                "description": "Student enrolls to a class using class_id and class_code.",
                "operationId": "f7abe1cfbe4ddb9ffe4a8a03002dc205",
                "parameters": [
                    {
                        "name": "X-XSRF-TOKEN",
                        "in": "header",
                        "description": "CSRF token for session-based auth",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Referer",
                        "in": "header",
                        "description": "Frontend URL for CSRF protection",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "http://localhost:3000"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "class_code"
                                ],
                                "properties": {
                                    "class_code": {
                                        "type": "string",
                                        "example": "1234567"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Enrolled successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Enrolled successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "d40a0147-493f-4d70-bb4a-d7052e89e921"
                                                },
                                                "class_id": {
                                                    "type": "string",
                                                    "example": "20d7c432-467b-433a-b035-b43481b5ee85"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "active"
                                                },
                                                "enrolled_at": {
                                                    "type": "string",
                                                    "example": "2025-07-17T08:55:35.710993Z"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2025-07-17T08:55:35.710993Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2025-07-17T08:55:35.710993Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid class code or validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/class/enrollments/{id}": {
            "get": {
                "tags": [
                    "Enrollments"
                ],
                "summary": "Get enrollment details",
                "description": "Show enrollment details including class and student info.",
                "operationId": "260517283999bbadbae4c7debe5a3801",
                "parameters": [
                    {
                        "name": "X-XSRF-TOKEN",
                        "in": "header",
                        "description": "CSRF token for session-based auth",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Referer",
                        "in": "header",
                        "description": "Frontend URL for CSRF protection",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "http://localhost:3000"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Enrollment ID (UUID)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Enrollment details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "d40a0147-493f-4d70-bb4a-d7052e89e921"
                                        },
                                        "class_id": {
                                            "type": "string",
                                            "example": "20d7c432-467b-433a-b035-b43481b5ee85"
                                        },
                                        "student_id": {
                                            "type": "string",
[...]
