{
    "openapi": "3.0.0",
    "info": {
        "title": "🎓 Koupii LMS API - Learning Management System",
        "description": "\n# 🌟 Welcome to Koupii LMS API\n\nA comprehensive Learning Management System API designed for language learning and test preparation (IELTS, TOEFL, etc.).\n\n## 🚀 Quick Navigation\n\n### 👨‍🎓 **STUDENT PORTAL**\n- 📚 View enrolled classes and assignments\n- ✍️ Complete writing, reading, listening, and speaking tasks\n- 📊 Track progress and view analytics\n- 🏆 Check leaderboards and achievements\n- 💬 Participate in class discussions\n\n### 👨‍🏫 **TEACHER PORTAL** \n- 🎯 Create and manage classes\n- 📝 Assign tasks to students\n- ✅ Review and grade submissions\n- 📈 Monitor student progress\n- 🔧 Configure class settings\n\n### 🔧 **ADMIN PORTAL**\n- 👥 Manage all users and classes\n- 🛠️ System configuration\n- 📊 Platform-wide analytics\n- 🔐 User permissions management\n\n## 🔐 Authentication\n\nAll endpoints require Bearer token authentication unless specified otherwise.\n\n```bash\nAuthorization: Bearer YOUR_TOKEN\n```\n\n## 📝 API Standards\n\n- **Base URL**: `https://api.koupii.com/api/v1`\n- **Content-Type**: `application/json`\n- **Date Format**: `ISO 8601` (YYYY-MM-DDTHH:mm:ssZ)\n- **UUID Format**: Standard UUID v4\n\n## 🏷️ Response Codes\n\n- `✅ 200-299`: Success\n- `❌ 400-499`: Client Error  \n- `🔥 500-599`: Server Error\n\n## 🎯 Task Types\n\n- **✍️ Writing**: Essays, reports, descriptions\n- **📖 Reading**: Comprehension, analysis \n- **🎧 Listening**: Audio comprehension\n- **🗣️ Speaking**: Recorded responses\n\n## 🔄 Assignment Workflow\n\n1. **Teacher** creates and assigns tasks to class\n2. **Students** receive notifications and complete assignments\n3. **System** auto-grades or queues for teacher review\n4. **Results** posted with detailed feedback\n5. **Analytics** track progress over time\n\n---\n\n*For support, contact: support@koupii.com*\n     ",
        "contact": {
            "name": "Koupii Support Team",
            "url": "https://koupii.com/support",
            "email": "support@koupii.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api-koupii.magercoding.com",
            "description": "Production Server"
        },
        {
            "url": "http://127.0.0.1:8000",
            "description": "Development Server"
        }
    ],
    "paths": {
        "/api/v1/student/dashboard": {
            "get": {
                "tags": [
                    "Student Dashboard"
                ],
                "summary": "Get student dashboard with assignments",
                "description": "Retrieve student dashboard showing all assignments from enrolled classes",
                "operationId": "de5f8f68ddbe26bae2b1b8a1bdc9a512",
                "responses": {
                    "200": {
                        "description": "Dashboard data retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Dashboard data retrieved successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "student_name": {
                                                    "type": "string",
                                                    "example": "John Doe"
                                                },
                                                "enrolled_classes": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "total_assignments": {
                                                    "type": "integer",
                                                    "example": 12
                                                },
                                                "pending_assignments": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "completed_assignments": {
                                                    "type": "integer",
                                                    "example": 7
                                                },
                                                "overdue_assignments": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "assignments": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "type": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "writing_task",
                                                                    "reading_task",
                                                                    "listening_task",
                                                                    "speaking_task"
                                                                ]
                                                            },
                                                            "title": {
                                                                "type": "string",
                                                                "example": "Essay Writing Practice"
                                                            },
                                                            "description": {
                                                                "type": "string",
                                                                "example": "Academic writing task"
                                                            },
                                                            "class_name": {
                                                                "type": "string",
                                                                "example": "IELTS Preparation A"
                                                            },
                                                            "due_date": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            },
                                                            "assigned_date": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            },
                                                            "status": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "pending",
                                                                    "in_progress",
                                                                    "submitted",
                                                                    "completed"
                                                                ]
                                                            },
                                                            "score": {
                                                                "type": "number",
                                                                "nullable": true
                                                            },
                                                            "attempt_count": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "max_attempts": {
                                                                "type": "integer",
                                                                "example": 3
                                                            },
                                                            "difficulty": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "beginner",
                                                                    "intermediate",
                                                                    "advanced"
                                                                ]
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/student/assignments/{assignmentId}/{type}/details": {
            "get": {
                "tags": [
                    "Student Dashboard"
                ],
                "summary": "Get assignment details for starting",
                "description": "Retrieve detailed assignment information before starting",
                "operationId": "e4d60ebd9bb932d0edbe2de07238383e",
                "parameters": [
                    {
                        "name": "assignmentId",
                        "in": "path",
                        "description": "Assignment ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "type",
                        "in": "path",
                        "description": "Assignment type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "writing_task",
                                "reading_task",
                                "listening_task",
                                "speaking_task"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Assignment details retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "properties": {
                                                "assignment": {
                                                    "properties": {
                                                        "title": {
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "type": "string"
                                                        },
                                                        "instructions": {
                                                            "type": "string"
                                                        },
                                                        "time_limit": {
                                                            "type": "integer"
                                                        },
                                                        "max_attempts": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "student_progress": {
                                                    "properties": {
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "attempt_count": {
                                                            "type": "integer"
                                                        },
                                                        "score": {
                                                            "type": "number",
                                                            "nullable": true
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Access denied"
                    },
                    "404": {
                        "description": "Assignment not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/student/assignments/{assignmentId}/{type}/start": {
            "post": {
                "tags": [
                    "Student Dashboard"
                ],
                "summary": "Start an assignment",
                "description": "Start working on an assignment",
                "operationId": "72f2ed52ef00fd23f961279c8b3cd3b3",
                "parameters": [
                    {
                        "name": "assignmentId",
                        "in": "path",
                        "description": "Assignment ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "type",
                        "in": "path",
                        "description": "Assignment type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "writing_task",
                                "reading_task",
                                "listening_task",
                                "speaking_task"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Assignment started successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Assignment started successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "student_assignment_id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "attempt_number": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "started_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Access denied"
                    },
                    "404": {
                        "description": "Assignment not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/student/assignments/{assignmentId}/{type}/submit": {
            "post": {
                "tags": [
                    "Student Dashboard"
                ],
                "summary": "Submit an assignment",
                "description": "Submit completed assignment work",
                "operationId": "d77bee8373da7ac457da6dd42918e59d",
                "parameters": [
                    {
                        "name": "assignmentId",
                        "in": "path",
                        "description": "Assignment ID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "type",
                        "in": "path",
                        "description": "Assignment type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "writing_task",
                                "reading_task",
                                "listening_task",
                                "speaking_task"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "submission_data": {
                                        "description": "Assignment submission data (varies by type)",
                                        "properties": {
                                            "answers": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object"
                                                }
                                            },
                                            "essay_text": {
                                                "type": "string"
                                            },
                                            "time_spent": {
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Assignment submitted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Assignment submitted successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "student_assignment_id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "completed_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "submission_status": {
                                                    "type": "string",
                                                    "example": "submitted"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No active assignment found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Login user",
                "description": "Authenticates a user and returns an access token",
                "operationId": "0dce593c17bc79d29606e352610c2f1f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "fika@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "secret123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Logged in successfully"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|abcdef1234567890"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials"
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/v1/auth/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Logout the current user",
                "description": "Revokes the user's current access token",
                "operationId": "6e4e9d734ad85af44a1491066058371c",
                "responses": {
                    "200": {
                        "description": "Logout successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Logged out successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "500": {
                        "description": "Logout failed"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/oauth/google/redirect": {
            "get": {
                "tags": [
                    "OAuth"
                ],
                "summary": "Redirect to Google OAuth",
                "description": "Redirects the user to Google's OAuth consent screen",
                "operationId": "aeed7acd7999f23f1faa7cc8cfc456a2",
                "responses": {
                    "302": {
                        "description": "Redirection to Google OAuth"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/v1/oauth/google/callback": {
            "get": {
                "tags": [
                    "OAuth"
                ],
                "summary": "Handle Google OAuth Callback",
                "description": "Handles the callback from Google OAuth and authenticates the user",
                "operationId": "e8dc122835540f185ead92a781cffb8f",
                "responses": {
                    "200": {
                        "description": "Authentication successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "ok"
                                        },
                                        "user": {
                                            "type": "object"
                                        },
                                        "access_token": {
                                            "type": "string",
                                            "example": "1|abcdef1234567890"
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/v1/oauth/facebook/redirect": {
            "get": {
                "tags": [
                    "OAuth"
                ],
                "summary": "Redirect to Facebook OAuth",
                "description": "Redirects the user to Facebook's OAuth consent screen",
                "operationId": "5c56ba6dd4a6d9b5f4976f007e355d64",
                "responses": {
                    "302": {
                        "description": "Redirection to Facebook OAuth"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/v1/oauth/facebook/callback": {
            "get": {
                "tags": [
                    "OAuth"
                ],
                "summary": "Handle Facebook OAuth Callback",
                "description": "Handles the callback from Facebook OAuth and authenticates the user",
                "operationId": "dc4061eb9210e3cba0c04ef695601bb1",
                "responses": {
                    "200": {
                        "description": "Authentication successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "ok"
                                        },
                                        "user": {
                                            "type": "object"
                                        },
                                        "access_token": {
                                            "type": "string",
                                            "example": "1|abcdef1234567890"
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication failed"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/v1/auth/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Register a new user",
                "description": "Registers a user and returns an access token",
                "operationId": "5ae0f447c4401150c74567b59feb0cff",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "role"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Fika Riyadi"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "fika@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "secret123"
                                    },
                                    "role": {
                                        "type": "string",
                                        "example": "user"
                                    },
                                    "profile_picture": {
                                        "description": "Upload profile picture (jpg, png, gif)",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User registered successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Registered successfully"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|abcdef1234567890"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/api/v1/classes": {
            "get": {
                "tags": [
                    "Classes"
                ],
                "summary": "📚 Get All Classes",
                "description": "Retrieve all classes. Teachers see their own classes with management options, students see enrolled classes with assignment info.",
                "operationId": "getAllClasses",
                "parameters": [
                    {
                        "name": "role_view",
                        "in": "query",
                        "description": "View mode based on user role",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "teacher",
                                "student",
                                "admin"
                            ]
                        }
                    },
                    {
                        "name": "include_stats",
                        "in": "query",
                        "description": "Include class statistics",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "✅ Classes retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Classes retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid",
                                                        "example": "0199800b-be72-71ed-91bc-118cbfdadc22"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "IELTS Preparation - Advanced"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Advanced IELTS preparation focusing on academic modules"
                                                    },
                                                    "level": {
                                                        "type": "string",
                                                        "enum": [
                                                            "beginner",
                                                            "intermediate",
                                                            "advanced"
                                                        ],
                                                        "example": "advanced"
                                                    },
                                                    "subject": {
                                                        "type": "string",
                                                        "example": "IELTS"
                                                    },
                                                    "class_code": {
                                                        "type": "string",
                                                        "example": "IELTS-ADV-001"
                                                    },
                                                    "cover_image": {
                                                        "type": "string",
                                                        "example": "https://api.koupii.com/storage/classes/cover-1.jpg",
                                                        "nullable": true
                                                    },
                                                    "is_active": {
                                                        "type": "boolean",
                                                        "example": true
                                                    },
                                                    "max_students": {
                                                        "type": "integer",
                                                        "example": 25
                                                    },
                                                    "schedule": {
                                                        "properties": {
                                                            "days": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "example": [
                                                                    "monday",
                                                                    "wednesday",
                                                                    "friday"
                                                                ]
                                                            },
                                                            "time": {
                                                                "type": "string",
                                                                "example": "14:00"
                                                            },
                                                            "duration_minutes": {
                                                                "type": "integer",
                                                                "example": 90
                                                            },
                                                            "timezone": {
                                                                "type": "string",
                                                                "example": "UTC+7"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "teacher": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Dr. Sarah Wilson"
                                                            },
                                                            "email": {
                                                                "type": "string",
                                                                "example": "sarah.wilson@school.edu"
                                                            },
                                                            "bio": {
                                                                "type": "string",
                                                                "example": "IELTS expert with 10+ years experience"
                                                            },
                                                            "avatar": {
                                                                "type": "string",
                                                                "example": "https://api.koupii.com/storage/avatars/teacher-1.jpg",
                                                                "nullable": true
                                                            },
                                                            "specializations": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "example": [
                                                                    "IELTS",
                                                                    "TOEFL",
                                                                    "Academic English"
                                                                ]
                                                            },
                                                            "rating": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 4.8
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "stats": {
                                                        "properties": {
                                                            "total_students": {
                                                                "type": "integer",
                                                                "example": 18
                                                            },
                                                            "active_students": {
                                                                "type": "integer",
                                                                "example": 16
                                                            },
                                                            "total_assignments": {
                                                                "type": "integer",
                                                                "example": 24
                                                            },
                                                            "pending_assignments": {
                                                                "type": "integer",
                                                                "example": 5
                                                            },
                                                            "average_completion_rate": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 87.5
                                                            },
                                                            "average_score": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 78.2
                                                            },
                                                            "improvement_trend": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "improving",
                                                                    "stable",
                                                                    "declining"
                                                                ],
                                                                "example": "improving"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "students_preview": {
                                                        "description": "First 5 students for preview",
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "string",
                                                                    "format": "uuid"
                                                                },
                                                                "name": {
                                                                    "type": "string",
                                                                    "example": "Alice Johnson"
                                                                },
                                                                "avatar": {
                                                                    "type": "string",
                                                                    "nullable": true
                                                                },
                                                                "current_level": {
                                                                    "type": "string",
                                                                    "example": "6.5"
                                                                },
                                                                "target_score": {
                                                                    "type": "string",
                                                                    "example": "7.0"
                                                                },
                                                                "progress_percentage": {
                                                                    "type": "number",
                                                                    "format": "float",
                                                                    "example": 75.5
                                                                },
                                                                "last_active": {
                                                                    "type": "string",
                                                                    "format": "date-time"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "summary": {
                                            "properties": {
                                                "total_classes": {
                                                    "type": "integer",
                                                    "example": 6
                                                },
                                                "total_students": {
                                                    "type": "integer",
                                                    "example": 89
                                                },
                                                "active_assignments": {
                                                    "type": "integer",
                                                    "example": 15
                                                },
                                                "completion_rate": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 85.7
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "❌ Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "❌ Forbidden - Insufficient permissions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "You don't have permission to access this resource."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/classes/create": {
            "post": {
                "tags": [
                    "Classes"
                ],
                "summary": "🆕 Create New Class",
                "description": "Create a new class with detailed configuration. Teachers can create classes for their subjects, admins can create any class.",
                "operationId": "createClass",
                "requestBody": {
                    "description": "Class creation data",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "description",
                                    "level",
                                    "subject"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "Clear, descriptive class name",
                                        "type": "string",
                                        "example": "IELTS Preparation - Advanced"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Advanced IELTS preparation focusing on academic modules with practice tests and personalized feedback"
                                    },
                                    "level": {
                                        "type": "string",
                                        "enum": [
                                            "beginner",
                                            "intermediate",
                                            "advanced"
                                        ],
                                        "example": "advanced"
                                    },
                                    "subject": {
                                        "description": "Subject or exam type",
                                        "type": "string",
                                        "example": "IELTS"
                                    },
                                    "class_code": {
                                        "description": "Optional custom code, auto-generated if not provided",
                                        "type": "string",
                                        "example": "IELTS-ADV-001"
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "max_students": {
                                        "type": "integer",
                                        "maximum": 100,
                                        "minimum": 1,
                                        "example": 25
                                    },
                                    "cover_image": {
                                        "description": "Cover image file for the class (JPEG, PNG, max 5MB)",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "schedule": {
                                        "description": "JSON string for class schedule configuration",
                                        "type": "string",
                                        "example": "class_schedule_json"
                                    },
                                    "settings": {
                                        "description": "JSON string for class behavior settings",
                                        "type": "string",
                                        "example": "class_settings_json"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "✅ Class created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Class created successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "example": "0199800b-be72-71ed-91bc-118cbfdadc22"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "IELTS Preparation - Advanced"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "Advanced IELTS preparation focusing on academic modules"
                                                },
                                                "level": {
                                                    "type": "string",
                                                    "example": "advanced"
                                                },
                                                "subject": {
                                                    "type": "string",
                                                    "example": "IELTS"
                                                },
                                                "class_code": {
                                                    "type": "string",
                                                    "example": "IELTS-ADV-001"
                                                },
                                                "cover_image": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "is_active": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "max_students": {
                                                    "type": "integer",
                                                    "example": 25
                                                },
                                                "current_students_count": {
                                                    "type": "integer",
                                                    "example": 0
                                                },
                                                "teacher_id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "❌ Bad Request - Invalid data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid schedule configuration"
                                        },
                                        "errors": {
                                            "properties": {
                                                "schedule.time": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The time field must be a valid time format."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "❌ Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "❌ Forbidden - Insufficient permissions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Only teachers and administrators can create classes."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "⚠️ Conflict - Class already exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "A class with this name or code already exists."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "❌ Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "name": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The name field is required."
                                                    }
                                                },
                                                "max_students": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The max students must be between 1 and 100."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/classes/{id}": {
            "get": {
                "tags": [
                    "Classes"
                ],
                "summary": "📋 Get Class Details",
                "description": "Retrieve comprehensive class information including teacher, students, assignments, and analytics. Response varies based on user role and permissions.",
                "operationId": "getClassDetails",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Class UUID identifier",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "0199800b-be72-71ed-91bc-118cbfdadc22"
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "description": "Additional data to include",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "students",
                                    "assignments",
                                    "analytics",
                                    "upcoming_tasks",
                                    "recent_activity"
                                ]
                            },
                            "default": [
                                "students",
                                "assignments"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "✅ Class details retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Class details retrieved successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "example": "0199800b-be72-71ed-91bc-118cbfdadc22"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "IELTS Preparation - Advanced"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "Advanced IELTS preparation focusing on academic modules"
                                                },
                                                "level": {
                                                    "type": "string",
                                                    "example": "advanced"
                                                },
                                                "subject": {
                                                    "type": "string",
                                                    "example": "IELTS"
                                                },
                                                "class_code": {
                                                    "type": "string",
                                                    "example": "IELTS-ADV-001"
                                                },
                                                "cover_image": {
                                                    "type": "string",
                                                    "example": "https://api.koupii.com/storage/classes/cover-1.jpg",
                                                    "nullable": true
                                                },
                                                "is_active": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "max_students": {
                                                    "type": "integer",
                                                    "example": 25
                                                },
                                                "current_students_count": {
                                                    "type": "integer",
                                                    "example": 18
                                                },
                                                "schedule": {
                                                    "properties": {
                                                        "days": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "example": [
                                                                "monday",
                                                                "wednesday",
                                                                "friday"
                                                            ]
                                                        },
                                                        "time": {
                                                            "type": "string",
                                                            "example": "14:00"
                                                        },
                                                        "duration_minutes": {
                                                            "type": "integer",
                                                            "example": 90
                                                        },
                                                        "timezone": {
                                                            "type": "string",
                                                            "example": "UTC+7"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "teacher": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Dr. Sarah Wilson"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "sarah.wilson@school.edu"
                                                        },
                                                        "bio": {
                                                            "type": "string",
                                                            "example": "IELTS expert with 10+ years experience"
                                                        },
                                                        "avatar": {
                                                            "type": "string",
                                                            "example": "https://api.koupii.com/storage/avatars/teacher-1.jpg",
                                                            "nullable": true
                                                        },
                                                        "specializations": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "example": [
                                                                "IELTS",
                                                                "TOEFL",
                                                                "Academic English"
                                                            ]
                                                        },
                                                        "rating": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 4.8
                                                        },
                                                        "total_classes": {
                                                            "type": "integer",
                                                            "example": 12
                                                        },
                                                        "total_students": {
                                                            "type": "integer",
                                                            "example": 245
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "students": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Alice Johnson"
                                                            },
                                                            "avatar": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "enrollment_date": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            },
                                                            "current_level": {
                                                                "type": "string",
                                                                "example": "6.5"
                                                            },
                                                            "target_score": {
                                                                "type": "string",
                                                                "example": "7.0"
                                                            },
                                                            "progress_percentage": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 75.5
                                                            },
                                                            "assignments_completed": {
                                                                "type": "integer",
                                                                "example": 12
                                                            },
                                                            "assignments_total": {
                                                                "type": "integer",
                                                                "example": 15
                                                            },
                                                            "average_score": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 82.3
                                                            },
                                                            "last_active": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            },
                                                            "status": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "active",
                                                                    "inactive",
                                                                    "suspended"
                                                                ],
                                                                "example": "active"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "assignments": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "title": {
                                                                "type": "string",
                                                                "example": "Academic Writing Task 1"
                                                            },
                                                            "task_type": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "writing",
                                                                    "reading",
                                                                    "listening",
                                                                    "speaking"
                                                                ],
                                                                "example": "writing"
                                                            },
                                                            "due_date": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            },
                                                            "status": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "active",
                                                                    "completed",
                                                                    "overdue"
                                                                ],
                                                                "example": "active"
                                                            },
                                                            "submissions_count": {
                                                                "type": "integer",
                                                                "example": 15
                                                            },
                                                            "total_students": {
                                                                "type": "integer",
                                                                "example": 18
                                                            },
                                                            "average_score": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 78.5
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "analytics": {
                                                    "properties": {
                                                        "completion_rate": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 87.5
                                                        },
                                                        "average_score": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 78.2
                                                        },
                                                        "improvement_trend": {
                                                            "type": "string",
                                                            "enum": [
                                                                "improving",
                                                                "stable",
                                                                "declining"
                                                            ],
                                                            "example": "improving"
                                                        },
                                                        "most_challenging_task_type": {
                                                            "type": "string",
                                                            "example": "speaking"
                                                        },
                                                        "best_performing_task_type": {
                                                            "type": "string",
                                                            "example": "reading"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "❌ Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "❌ Forbidden - No access to this class",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "You don't have permission to view this class."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "❌ Class not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Class not found."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Classes"
                ],
                "summary": "🗑️ Delete Class",
                "description": "Permanently delete a class and all associated data. Teachers can only delete their own classes, administrators can delete any class. This action cannot be undone.",
                "operationId": "deleteClass",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Class UUID identifier",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "0199800b-be72-71ed-91bc-118cbfdadc22"
                        }
                    },
                    {
                        "name": "force",
                        "in": "query",
                        "description": "Force delete even with active assignments",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "archive_data",
                        "in": "query",
                        "description": "Archive student data before deletion",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "✅ Class deleted successfully",
[...]
